/* Fonts */

@font-face {
  font-family: Karmina;
  src: url(assets/fonts/KarminaReg.otf);
}

@font-face {
  font-family: KarminaSansL;
  src: url(assets/fonts/KarminaSans_Light.otf);
}

@font-face {
  font-family: KarminaSansR;
  src: url(assets/fonts/KarminaSans_Regular.otf);
}


body {
  margin: 0;
  overflow-x: hidden;
  background-color: rgba(249, 249, 249, 1);
}

/* Header */

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*height: 4vh;*/
  align-items: center;
  overflow: hidden;

  /*width: 1440px;*/
  height: 55px;
  left: 0px;
  top: 0px;

  background: #ededed;
}

.header-container .title {
  margin-left: 20px;
  font-family: Karmina; font-size: 30px
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.indicator {
  font-family: "KarminaSansL";
  /*font-feature-settings: 'frac' 1;*/
  font-size: 30px;
}

.is-hidden {
  display: none;
}

/* Slider */

.slider {
  position: absolute;
  margin: 0 auto;
  height: calc(100% - 100px);
  width: 100%;
  top: 55px;
  user-select: none;
  touch-action: pan-y;
}

.slider-list {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-list.grab {
  cursor: grab;
}

.slider-list.grabbing{
  cursor: grabbing;
}

.slider-track {
  display: flex;
}

.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  font-size: 50px;
  display: flex;
}

.slider-arrows {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.next,
.prev {
  border: none;
  cursor: pointer;
  width: 11px;
  height: 39px;
}

.prev {
  position: absolute;
  left: 0px;
  z-index: 1;
}

.next {
  position: absolute;
  right: 0px;
  z-index: 1;
}


.next.disabled,
.prev.disabled {
  opacity: 0;
  pointer-events: none;
}

.animal-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.animal-name {
  font-family: 'Karmina';
  font-size: 22px;
  margin: 17px 0 6px 0;
}

.scientific-name {
  font-family: 'KarminaSans_Light';
  font-size: 18px;
  font-style: italic;
}

.sordone {
  position: absolute;
  top: 138px;
  left: 180px;
}

.codirossone {
  position: absolute;
  top: 316px;
  left: 317px;
}

.lucertola-vivipara {
  position: absolute;
  top: 375px;
  left: 65px;
}

.topo-selvatico-alpino {
  position: absolute;
  top: 746px;
  left: 376px;
}

/* Below Header container */

.below-header-container {
  width: 100%;
  display: flex;
  margin: 12px 0 0 20px;
}

.below-header-container p {
  font-family: 'KarminaSansR';
    font-size: 21px;
    margin-left: 15px;
}

.below-header-container img:nth-of-type(2) {
  margin-left: 70px;
}


/* Footer */

.footer {
  background-color: #ededed;
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
}

/* Info Tab */

.info-box {
  position: fixed;
  background-color: rgba(237, 237, 237, 1);
  top: 0;
  left: 100%;
  height: 100vh;
  width: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
  transition: 0.5s;
  filter: drop-shadow(0px -10px 4px grey);
}

.info-button-open,
.info-button-close {
  background: transparent;
  border: 0;
}

.info-button-close {
  float: right;
  font-family: 'KarminaSansR';
  font-size: 25px;
  padding: 0;
  margin: 16px 31px 0 0;
}

.info-container {
  display: block;
  transition: 0.3s;
}

.info-content {
  display: flex;
  flex-direction: column;
  margin: 16px 0 0 30px;
  width: 400px;
  
}

.info-title {
  font-family: "Karmina";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 54px;
}

.info-subtitle {
  font-family: "KarminaSansR";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  width: 100%;
  margin-bottom: 16px;
}

.versi-narrazione-box {
  display: flex;
  flex-direction: column;
  font-family: "KarminaSansR";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  margin-top: 8px;
}

.icon-type {
  display: flex;
  align-items: center;
}

.icon-type p {
  margin-left: 30px;
}

.icon-type:nth-child(-n + 2){
margin-bottom: 40px;
}

.archivi-sonori {
  font-family: "KarminaSansR";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 137%;
}

.crediti table {
  font-family: "KarminaSansR";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  margin-bottom: 56px;
}

.crediti table tr td:first-child {
  width: 180px;
}

.archivi-sonori table tr td:first-child {
  width: 180px;
}

.info-p {
  font-family: "Karmina";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 117.5%;
  margin-bottom: 20px;
}

/*  Archivio Table*/

.archivio-table {
  border-collapse: collapse;
    max-width: 100vw;
    margin-top: 42px;
    width: calc(100% - 40px);
    margin: 42px auto;
}

.archivio-table tr {
  border-bottom: 1px solid black;
}

.archivio-table tr:last-child {
  border-bottom: none;
}

.archivio-table tr:first-child {
  font-family: "KarminaSansR";
  font-size: 22px;
  line-height: 106.9%;
}

.archivio-table tr:first-child td {
  padding-bottom: 13px;
}

.archivio-table tr:nth-child(n + 2) td:first-child {
  font-family: "Karmina";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 106.9%;
}

.first-column {
  width: 34%;
}

.second-column {
  width: 30%;
}

.third-column {
  width: 22%;
}

.archivio-table tr:nth-child(n + 2) td:nth-child(2) {
  font-family: "KarminaSansL";
  font-style: italic;
  font-weight: 300;
  font-size: 22px;
  line-height: 106.9%;
}
.archivio-table tr:nth-child(n + 2) td {
  padding: 12px 0;
}

.fix-archivio {
  overflow-y: hidden;
  position: fixed;
}